{% extends 'main.html' %}

{% block content %}


<form method="post">
  {% csrf_token %}
  Número de Ticket: <input type="text" name="ticket_number" placeholder="Ingresa tu número de Ticket">
  <input type="submit" value="Consultar Clima por Ticket">
</form>

<form method="get">
  <input type="text" name="city_name1" placeholder="Nombre de la ciudad 1">
  <input type="text" name="city_name2" placeholder="Nombre de la ciudad 2">
  <input type="submit" value="Buscar">
</form>

{% if weather_data1 %}
    <h2>Clima en {{ weather_data1.name }}</h2>
    <p>Temperatura: {{ weather_data1.main.temp }}°C</p>
    <p>Descripción: {{ weather_data1.weather.0.description }}</p>
{% endif %}

{% if weather_data2 %}
    <h2>Clima en {{ weather_data2.name }}</h2>
    <p>Temperatura: {{ weather_data2.main.temp }}°C</p>
    <p>Descripción: {{ weather_data2.weather.0.description }}</p>
{% endif %}

{% if clima_destino %}
    <h2>Clima en {{ clima_destino.name }}</h2>
    <p>Temperatura: {{ clima_destino.main.temp }}°C</p>
    <p>Descripción: {{ clima_destino.weather.0.description }}</p>
{% endif %}

{% if clima_origen %}
    <h2>Clima en {{ clima_origen.name }}</h2>
    <p>Temperatura: {{ clima_origen.main.temp }}°C</p>
    <p>Descripción: {{ clima_origen.weather.0.description }}</p>
{% endif %}

{% endblock content %}

<br>