{% extends 'main.html' %}

{% block content %}

{% load static %}

<div class="body">

  <form method="post">
    {% csrf_token %}

    <div class="ticket">
      <label for="número_de_ticket" class="form-label">Ingresa tu número de Ticket</label>
      <br>
      <input type="text" name="ticket_number" placeholder="Ticket . . .">
      <button type="submit">Consultar Clima por Ticket</button>
    </div>

    <h5>O BIEN</h5>

  </form>

  <div class="ori">
    <form method="get">
      <label for="origen_y_destino" class="form-label">Ingresa la Ciudad de Origen y Destino</label>
      <br>
      <input type="text" name="city_name1" placeholder="Origen . . .">
      <input type="text" name="city_name2" placeholder="Destino . . .">
      <button type="submit">Consultar Clima</button>

  </div>
  <br>
  <br>

  <div class="container text-center">
    {% if not is_ticket_search %}
    {% if weather_data1 %}
    <div class="row">

      <div class="col-sm-5 col-md-6">
        <h2>Origen: <strong>Clima en {{ weather_data1.name }}</strong></h2>
        <img src="{{ weather_data1.weather_icon }}" alt="Ícono del clima" height="200px">
        <p>Temperatura: {{ weather_data1.main.temp }}°C</p>
        <p>Descripción: {{ weather_data1.weather.0.description }}</p>
      </div>
      {% endif %}

      {% if weather_data2 %}
      <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
        <h2>Destino: <strong>Clima en {{ weather_data2.name }}</strong></h2>

        <img src="{{ weather_data2.weather_icon }}" alt="Ícono del clima" height="200px">
        <p>Temperatura: {{ weather_data2.main.temp }}°C</p>
        <p>Descripción: {{ weather_data2.weather.0.description }}</p>
      </div>
    </div>
    {% endif %}
    {% endif %}
  </div>

  <div class="container text-center">
    {% if is_ticket_search %}
    {% if clima_destino %}
    <div class="row">
      <div class="col-sm-5 col-md-6">
        <h2>Origen: <strong>Clima en {{ clima_origen.name }}</strong></h2>

        <img src="{{ clima_origen.weather_icon }}" alt="Ícono del clima" height="200px">
        <p>Temperatura: {{ clima_origen.main.temp }}°C</p>
        <p>Descripción: {{ clima_origen.weather.0.description }}</p>
      </div>
      {% endif %}

      {% if clima_origen %}
      <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
        <h2>Destino: <strong>Clima en {{ clima_destino.name }}</strong></h2>

        <img src="{{ clima_destino.weather_icon }}" alt="Ícono del clima" height="200px">
        <p>Temperatura: {{ clima_destino.main.temp }}°C</p>
        <p>Descripción: {{ clima_destino.weather.0.description }}</p>
      </div>
    </div>
    {% endif %}
    {% endif %}
  </div>

</div>
{% endblock content %}
</form>
